
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ----- game style ------ */
.game {
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
ç
.game header {
  flex: 1;
  display: flex;
  align-items: center;
}

.game .top{
  display: flex;
  justify-content: space-between;
}

.game .score {
  flex:1;
  display: flex;
}

.game .label {
  font-weight: bold;
}

.game .value {
  font-style: italic;
}

.game .timer {
  flex: 1;
}

.game .deck {
  flex: 3;
  display: flex;
  align-items: center;
}

.game .card{
  height: 200px;
  line-height: 200px;
  font-size: 50px;
  border: 1px solid #ccc;
  background-color: #eee;
  box-shadow: 2px 2px 2px #ccc;
  border-radius: 15px;
}

.game .current-card {
  flex: 1;
}

.game .action {
  display: flex;
  flex: 1;
}
.game .action button{

}

.game .up {
  flex: 1;

}

.game .down {
  flex: 1;

}

.game .next-card {

}

.game .spen-no {

}

.game .total-steps {

}
